@page
@model Login
@{
    ViewData["Title"] = "Login";
}

@section Scripts
{
    <partial
        name = "Shared/_ValidationScriptsPartial"/>
}

<div
    class = "card"
    style = "
        width: 350px;
        height: 250px;
        align-items: center;
        top: 30%;
        left: 40%;
        position: absolute;
      ">
    <h2> Login</h2>
    <form
        class = "form"
        method = "post"
        style = "
          width: 225px;
          height: 300px;
          align-items: center;
          align-content: center;
        ">
        <input
            asp-for = "UserName"
            class = "form-control"
            id = "username"
            name = "UserName"
            placeholder = "user name"
            type = "text"/>
        <span
            asp-validation-for = "UserName"
            class = "alert-danger">
        </span>
        <input
            asp-for = "Password"
            class = "form-control"
            id = "password"
            name = "Password"
            placeholder = "password"
            type = "password"/>
        <span
            asp-validation-for = "Password"
            class = "alert-danger">
        </span>
        <button
            class = "btn btn-primary"
            id = "submit"
            type = "submit">
            Submit
        </button>
    </form>
</div>