@page
@model CreateUserModel

@{
    // Set the title of the page.
    ViewData["Title"] = "Create User";
}

<h1
    style = "text-align: center">
    Create a User
</h1>
<form
    method = "post">
    <div
        class = "form-group">
        <label
            for = "firstName">
            First Name:
        </label>
        <input
            class = "form-control"
            id = "firstName"
            name = "FirstName"
            type = "text"/>
        <label
            for = "lastName">
            Last Name:
        </label>
        <input
            class = "form-control"
            id = "lastName"
            name = "LastName"
            type = "text"/>
        <label
            for = "userName">
            User Name:
        </label>
        <input
            class = "form-control"
            id = "userName"
            name = "UserName"
            type = "text"/>
        <label
            for = "password">
            Password:
        </label>
        <input
            class = "form-control"
            id = "password"
            name = "CreatePassword"
            type = "password"/>
        <label
            for = "confirmPassword">
            Confirm Password:
        </label>
        <input
            class = "form-control"
            id = "confirmPassword"
            type = "password"/>
        <label
            for = "email">
            Email:
        </label>
        <input
            class = "form-control"
            id = "email"
            name = "Email"
            type = "email"/>
        <label
            for = "authLevel">
            Authorization Level
        </label>
        <select
            asp-items = "Html.GetEnumSelectList<Models.AuthLevel>()"
            class = "form-control"
            id = "authLevel"
            name = "AuthLevel">
        </select>
    </div>
    <button
        class = "btn btn-primary"
        type = "submit">
        Submit
    </button>
</form>