@page
@model CreateUserModel

@{
    // Set the title of the page.
    ViewData["Title"] = "Create User";
}

<h1
    style = "text-align: center">
    Create a User
</h1>
<form
    method = "post">
    <div
        class = "form-group">
        <label
            for = "firstName">
            FirstuserName:
        </label>
        <input
            class = "form-control"
            id = "firstName"
            name = "FirstUserName"
            type = "text"/>
        <label
            for = "lastName">
            LastuserName:
        </label>
        <input
            class = "form-control"
            id = "lastName"
            name = "LastUserName"
            type = "text"/>
        <label
            for = "userName">
            UseruserName:
        </label>
        <input
            class = "form-control"
            id = "userName"
            name = "UserUserName"
            type = "text"/>
        <label
            for = "password">
            Password:
        </label>
        <input
            class = "form-control"
            id = "password"
            name = "CreatePassword"
            type = "password"/>
        <label
            for = "confirmPassword">
            Confirm Password:
        </label>
        <input
            class = "form-control"
            id = "confirmPassword"
            type = "password"/>
        <label
            for = "email">
            Email:
        </label>
        <input
            class = "form-control"
            id = "email"
            name = "Email"
            type = "email"/>
    </div>
    <input
        class = "btn btn-primary"
        disabled
        id = "submit"
        type = "password"
        value = "Submit"/>
</form>