@page
@model Login

<div
    class = "card"
    style = "
        width: 350px;
        height: 250px;
        align-items: center;
        top: 30%;
        left: 40%;
        position: absolute;
      ">
    <h2> Login</h2>
    @{
        // Notice the method here, we need to post to securely send the login info
    }
    <form
        class = "form"
        method = "post"
        style = "
          width: 225px;
          height: 300px;
          align-items: center;
          align-content: center;
        ">
        <input
            class = "form-control"
            id = "username"
            name = "Username"
            placeholder = "username"
            type = "text"/>
        <input
            class = "form-control"
            id = "password"
            name = "Password"
            placeholder = "password"
            type = "password"/>
        <label
            class = "form-control-plaintext"
            id = "loginFeedback"
            name = "LoginFeedback">
            @ViewData["Feedback"]
        </label>
        <button
            class = "btn btn-primary"
            disabled = "disabled"
            id = "submit"
            type = "submit">
            Submit
        </button>
        <input
            class = "btn btn-danger"
            id = "clear"
            type = "button"
            value = "Clear"/>
    </form>
</div>

<script
    src = "js/LoginFormChecks.js">

</script>