@page
@model BugTracker.Pages.Tickets

@{
    // However you are logged in, it shows the tickets assigned to your user id.
    // First, dump all. 
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>