@page
@model User
@{
    // Data entry for the page.
    // This data is in a list format so you can foreach over it.
    var users = (IList<Models.User>) @ViewData["Users"];
}

<link
    href = "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
    rel = "stylesheet"
    type = "text/css"/>
<hr>
<div
    class = "bootdey bootstrap container snippets">
    <div
        class = "row">
        <div
            class = "col-sm-8">
            <div
                class = "clearfix main-box no-header">
                <div
                    class = "clearfix main-box-body">
                    <div
                        class = "table-responsive">
                        <table
                            class = "table user-list">
                            <thead>
                            <tr>
                                <th>
                                    <span>User</span>
                                </th>
                                <th
                                    class = "text-center">
                                    <span>Auth Level</span>
                                </th>
                                <th>
                                    <span>Email</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var user in users)
                            {
                                <tr>
                                    <td>
                                        <img
                                            alt = ""
                                            src = "https://bootdey.com/img/Content/user_1.jpg">
                                        <a
                                            class = "user-link"
                                            href = "/User?userId=@user.UserId">
                                            @user.UserName
                                        </a>
                                        <span
                                            class = "user-subhead">
                                        </span>
                                    </td>
                                    <td
                                        class = "text-center">
                                        <span
                                            class = "label label-default">
                                            @user.AuthLevel.ToString()
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            @user.Email
                                        </span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table >
                    </div >
                </div >
            </div >
        </div >
    </div >
</div >